body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333333;
}

header, footer {
    background-color: #4e4e4e;
    color: rgb(19, 221, 228);
    padding: 20px;
    text-align: center;
}

#recipe {
    border: 10px solid #12eee3;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 36px;
    font-style: italic;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul, ol {
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    font-size: 18px;
    line-height: 1.6;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 100px;
}

.submit-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.submit-button:hover {
    background-color: #3882e2;
}
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #aac7ff;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}
.container{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 20px;
}